button 
	{
	  background-color: #04AA6D;
	  margin-left: 25%;
	  margin-right: 25%;	
	  border: none;
	  cursor: pointer;
	  width: 50%;
	  opacity: 0.9;
	}
button:hover 
	{
	  opacity:1;
	}
a:link, a:visited 
{
  color: white;
  background-color: transparent;
  text-decoration: none;
}